/build/
/build-cl/
/build-ninja/
/erdGameTools/build/
/erdGameTools/build-erdGameTools/
/_reference/
/elden-ring-glorious-merchant-main/
/elden-ring-transmog-main/
/souls_vision-master/
/PostureBarMod/
/dist/native-menu-test/
/.vs/
/*.user
/*.suo
/*.vcxproj.user
/*.log
*.obj
*.exp
*.ilk
*.pdb
*.lib
